h1{
    color: #48D1CC;
    text-align: center;
}
h2{
    color: #B0E0E6;
    text-align: center;
}
h3{
    color: #800000;
    font-size: 15pt;
}
p.note{
    border: thin gray solid;
    margin: 1.5em 3em;
    padding: 0.5em;
    background-color: #FFFF99;
    font-size: 12pt;
}
th{
    color: white;
    background-color: blue;
}
